In [7]:
library(tidytext)
library(janeaustenr)
library(dplyr)
library(stringr)

In [20]:
em_lyrics <- as_tibble(read.csv('eminem.csv'))
pac_lyrics <-  as_tibble(read.csv('tupac.csv'))

em_lyrics <- mutate_if(is.factor, as.character)

In [22]:
print(em_lyrics)

# A tibble: 43,142 x 5
                    album artist
                   <fctr> <fctr>
 1 The Eminem Show (2002) Eminem
 2 The Eminem Show (2002) Eminem
 3 The Eminem Show (2002) Eminem
 4 The Eminem Show (2002) Eminem
 5 The Eminem Show (2002) Eminem
 6 The Eminem Show (2002) Eminem
 7 The Eminem Show (2002) Eminem
 8 The Eminem Show (2002) Eminem
 9 The Eminem Show (2002) Eminem
10 The Eminem Show (2002) Eminem
# ... with 43,132 more rows, and 3 more variables: lyric <fctr>, song <fctr>,
#   year <int>

In [21]:
tidy_lyrics <- em_lyrics %>%
    group_by(album) %>%
    mutate(linenumber = row_number()) %>%
    ungroup() %>%
    unnest_tokens(word, text)

ERROR: Error in check_input(x): Input must be a character vector of any length or a list of character
  vectors, each of which has a length of 1.